/* Parent container for the layout */
.content-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 20px;
  }
  /* Responsive grid for mat-cards */
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust based on your card size */
    gap: 20px;
    margin-bottom: 20px; /* Space between grid and paginator */
  }
  mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;/* Ensure cards fill their grid cell */
  }
  
  /* Make sure mat-card-title, mat-card-content, and mat-card-actions are spaced properly */
  mat-card-header,
  mat-card-content,
  mat-card-actions {
    margin-bottom: 20px;
    margin-top: 30px;
    height: 100px;
    gap: 20px;
     /* Space between sections of the card */
  }
  input[type="text"] {
    border: solid 1px blue; /* Blue border */
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: block; /* Ensure input is a block element for centering */
    width: 40%;
    margin: 0 auto; /* Center the input element horizontally */
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
 /* Optional: Add a background color for visibility */
}

.plus-icon {
  transform: scale(2); /* Adjust the icon color as needed */
}
