<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Nume</span>
                    <input placeholder="Nume client" matInput formControlName="name">
                    <mat-error *ngIf="form.controls['name'].errors?.['required']">Numele este obligatoriu</mat-error>
                    <mat-error *ngIf="form.controls['name'].hasError('minlength')">Minim 3 caractere</mat-error>
                </div>
                <div class="input-box">
                    <span class="details">Prenume</span>
                    <input placeholder="Prenume client" matInput formControlName="surName">
                    <mat-error *ngIf="form.controls['surName'].errors?.['required']">Preumele este obligatoriu</mat-error>
                    <mat-error *ngIf="form.controls['surName'].hasError('minlength')">Minim 3 caractere</mat-error>
                </div>
                <div class="input-box">
                    <span class="details">Adresa</span>
                    <input placeholder="Introduceti adresa" matInput formControlName="address">
                    <mat-error *ngIf="form.controls['address'].errors?.['required']">Adresa este obligatorie</mat-error>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input placeholder="Introduceti adresa de email" matInput formControlName="email">
                    <mat-error *ngIf="form.controls['email'].errors?.['required']">Adresa email este
                        obligatorie</mat-error>
                    <mat-error *ngIf="form.controls['email'].errors?.['email']">Formatul este invalid</mat-error>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input placeholder="Introduceti numarul de telefon" matInput formControlName="phoneNumber">
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">Numarul de telefon este obligatoriu.</mat-error>
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('invalidPhoneNumber')">Format
                        invalid.</mat-error>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" matInput formControlName="password">

                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm your password" matInput
                        formControlName="confirmPassword">

                </div>
                <mat-error *ngIf="form.get('password')?.errors?.required">Password is required.</mat-error>
                <mat-error *ngIf="form.get('password')?.errors?.pattern">Password must be at least 8 characters long
                    and include at least one lowercase letter, one uppercase letter, one digit, and one special
                    character.</mat-error>
                <mat-error
                    *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
                    Confirmation password is required.
                </mat-error>
                <mat-error *ngIf="form.hasError('mismatch') && form.get('confirmPassword')?.touched">
                    Passwords do not match.
                </mat-error>
                <!-- <mat-error *ngIf="responseErrorMessage">
                    {{responseErrorMessage}}
                </mat-error> -->
            </div>

            <div class="button">
                <input type="submit" value="Register" >
            </div>
        </form>
    </div>
</div>